html, body {
  height: 100%; /* unsure if should keep */
  margin: 0;
  padding: 0; /* recently added with comparison-container! */
}

#map {
  position: absolute; top: 0; bottom: 0; width: 100%
}

body {
    overflow: hidden;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#sidenav-buttons {
  position: fixed;
  left: 0px; /* change to 250px if opening nav on load */
  z-index: 1;
  transition: left .5s;
}

/* The navigation menu links */
#sidenav-buttons button {
  display: block;
}

/* Hover control for buttons - hide/show different text span classes */
#sidenav-buttons button .onhover {
  display: none;
}
#sidenav-buttons button:hover .original {
  display: none;
}
#sidenav-buttons button:hover .onhover {
  display: inline;
  cursor: pointer;
}

.sidenav-button { /* style menu buttons */
  border-radius: 0px 30px 30px 0px;
  background-color: gray;
  font-style: italic;
  color: white;
  font-size: 14px;
  padding-right: 8px;
  border-width: 0.5px;
  margin-top: 4px;
  border-left-width: 0px;
}

.sidenav-button:focus {
  outline:0; /* removes default button highlighting */
}

.sidenav-button-active {
  background-color: #111; /* same as background color for sidenav menu */
}

/* The side navigation menu - originally hidden*/
#sidenav-menu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with jquery */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 0px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#sidenav-menu p {
  width: 230px; /* Keeps the width of the text fixed to get rid of 'text squishing' effect on transition */
  margin: 0;
  padding-left: 13px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: justify;
}

/* Position and style the close button (top left corner) */
.closebtn {
  top: 0;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 15px;
}

.closebtn:hover {
  color: #f1f1f1;
  text-decoration: none;
}

#chart1 a {
  text-decoration: underline !important;
  /* font-weight: bold; */
  color: #5D3FD3
}

#chart1, #chart2 {
  font-size: 12px
}

a:hover {
  cursor: pointer;
}

.arrow {
  display: none;
  position: fixed;
  z-index: 10;
}

#address-box-a-link:hover + #address-box-arrow {
  display: block;
}

#census-tract-a-link:hover + #census-tract-arrow {
  display: block;
}

#split-left-a-link:hover + #split-left-arrow {
  display: block;
}

#split-right-a-link:hover + #split-right-arrow {
  display: block;
}

#checkbox-a-link:hover + #checkbox-arrow {
  display: block;
}

#scores-view-a-link:hover + #scores-view-arrow {
  display: block;
}

#slide-a-link:hover + #slide-arrow {
  display: block;
}

#map-controls-right {
  top: 0;
  right: 0;
  width: 300px;
  position: fixed;
  z-index: 1; /* places controls on top of map container */
  transition: right .5s;
}

#map-controls-left {
  top: 0;
  left: 0;
  width: 300px;
  position: fixed;
  z-index: 1; /* places controls on top of map container */
  transition: right .5s;
}

.map-controls::before {
  content: "";
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 10px;
}

.map-controls-content {
  position: relative; /* places content inside the map controls on top of partly transparent background */
  padding: 15px;
  color: black;
}

.dropdown-menu, .btn {
  font-size: 12px;
}

.btn {
  font-weight: bold;
}

.chart {
  height: 350px;
  width: auto;
  position: relative;
}

.mapboxgl-compare {
  z-index: 0;
  position: absolute;
}

.compare-swiper-horizontal {
  position: relative;
  z-index: 0
}

.mapboxgl-popup {
  z-index: 10;
  position: fixed;
}

.my-legend .legend-title {
  /* text-align: left; */
  margin-bottom: 0px;
  font-weight: bold;
  /* font-size: 90%; */
  }
.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 80%;
  list-style: none;
  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 20px;
  }
.my-legend {
  font-size: 70%;
  color: black;
  clear: both;
  left: 320px;
  position: fixed;
  }
.my-legend a {
  color: #777;
  }

#broadband-legend {
  position: absolute;
  visibility: hidden;
  top: 335px;
  left: 110px;
}

/* .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    display:none !important;
} */

/* #chart1, #text {
  text-align: center;
  padding-top: 20px;
  font-size: 18px
} */
